body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table td {
    position: relative;
}

.table td button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.table td button:hover {
    background-color:#e65c00;
}

.table td button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.user-list-button {
    background-color: #e65c00;
    color: white;
    /* Các thuộc tính khác */
}